{% extends 'MyAppAquitemBicoBundle::layout.html.twig' %}

{% block head %}
    <title> {% block title %} {{parent() }}{% endblock %} </title>
    {% block stylesheet %} 
        {{parent() }}
        <link rel="stylesheet" href="{{ asset('assets/plugins/wysihtml5/wysihtml5.css') }}" type="text/css">
    {% endblock %}
{% endblock %}

{% block content %}

    {% block banner %}
        <div id="mainbanner" class="page_banner banner post-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="banner-heading">Bem vinda, Amal<br><h5>Se beneficie do seu painel
                            </h5></div>    
                    </div>  
                </div>
            </div>
        </div>
    {% endblock %}

    {%block maincontent %}
        <!-- content -->
        <main id="maincontent">
            <div class="row">
                {%block menu %}
                    <div class="col-md-2" style="height: 57%;">
                        <div class="Resume manage" style="margin-left:15px;">
                            <a class="dshbdMainCandidate" href="{{ path('aquitem_bico_candidateDashboard') }}"><h1>Meu painel</h1></a>
                            <ul class="unstyled">
                                <li><a  href="{{ path('aquitem_bico_candidateVacancies') }}"><i class="fa fa-caret-right"></i> Procurar vagas</a></li>
                                <li><a  href="{{ path('aquitem_bico_candidateContracting') }}"><i class="fa fa-caret-right"></i> História de contratação</a></li>
                                <li><a href="{{ path('aquitem_bico_candidateProfil') }}"><i  class="fa fa-caret-right"></i> Meu currículo</a></li>
                                <li><a  href="{{ path('aquitem_bico_candidateEvaluations') }}"><i class="fa fa-caret-right"></i>Avaliações recebidas</a></li>
                                <li><a href="{{ path('aquitem_bico_candidateEditProfil') }}"><i class="fa fa-caret-right"></i> Editar currículo</a></li>
                                <li><a href=""><i class="fa fa-caret-right"></i> Configurações</a></li>
                                <li class="border-none"><a  href="{{ path('aquitem_bico_homepage') }}"><i class="fa fa-caret-right"></i> Sair</a></li>
                            </ul>
                        </div>
                    </div>
                {%endblock %}
                {% block selectedcontent %}
                    <div class="col-md-10" style="padding:0px;">
                        <div class="row contenttop">
                            <div class="col-md-12">
                                <div class="page-heading">
                                    <h2>Últimas oportunidades</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row contentmain">
                            <div class="col-md-12" style="width:95%">
                                <div class="table-bg">
                                    <table class="table">
                                        <tbody>
                                            {% for vaga in vagas %}
                                                <tr>
                                                    <td><div class="tab-image"><img src="{{ asset('assets/images/home/img1.jpg')}}" alt="" class="img-responsive" /></div><h1>{{ vaga.nomeVaga }}<p>{{ vaga.local }}</p></h1></td>
                                                            {% if vaga.horario2|number_format - vaga.horario1|number_format > 4  %}
                                                        <td class="work-time">Tempo integral</td>
                                                    {% else%}
                                                        <td class="work-time part">Tempo partial</td>
                                                    {% endif %}
                                                    <td><span class="ti-location-pin"></span> {{ vaga.cidade }}</td>
                                                    <td><a href="{{path('aquitem_bico_avacancy', { 'id': vaga.id }) }}" class="table-btn-default">Visualizar vaga</a></td>
                                                </tr>
                                            {% endfor %}                                 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endblock %}

            </div>
        </div>
    </main>
{% endblock %}

{% endblock %}
{% block js %}
    {{parent() }}
    <script src="{{ asset('assets/plugins/wysihtml5/wysihtml5-0.3.0.js') }}" ></script>
    <script src="{{ asset('assets/js/wysihtml.js') }}" ></script>
{% endblock %}