{% extends 'MyAppAquitemBicoBundle::Employers/employerDashboard.html.twig' %}

{% block head %}
    {% block stylesheet %} 
        {{parent() }}
    {% endblock %}
{% endblock %}
{% block content %}
    {% block banner %}
        <div class="page_banner banner employer-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="banner-heading">Suas vagas cadastras</div>    
                    </div>  
                </div>
            </div>
        </div>
    {% endblock %}

    {%block maincontent %}
        <main id="maincontent">
            <div class="row">
                {% block menu %} 
                    {{parent() }}
                {% endblock %}
                {% block selectedcontent %}        
                    <div class="col-md-10" style="padding:0px;">
                        <div style="height: 100%;width: 100%;">
                            <div class="row contenttop">
                                <div class="col-md-12">
                                    <div class="page-heading">
                                        <h2>Pode avaliar ou excluir uma dessas vagas</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row contentmain">
                                <div class="col-md-12"><div class=" panel-body">
                                        <table class="table">
                                            <thead class="">
                                                <tr>
                                                    <th>Titulo do trabalho</th>
                                                    <th>Aplicações</th>
                                                    <th>Candidatos</th>
                                                    <th>Açao</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for vaga in vagas %}
                                                <tr>
                                                    <td><h1> vaga.nomeVaga</h1></td>
                                                    <td><strong>7 <a href="{{ path('aquitem_bico_applicationsforvacancy') }}"><span class="text-success">(gerir)</span></a></strong></td>
                                                    <td><strong>25 <a href="{{ path('aquitem_bico_candidatesforvacancy') }}"><span class="text-success">(visualizar)</span></a></strong></td>
                                                    <td ><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></span> | <a href="{{ path('aquitem_bico_employerEditVacancy') }}"><i class="fa fa-edit"></i></a> | <span><i class="fa fa-trash"></i></span></td>
                                                </tr>
                                                {% endfor %}
                                                <!--<tr>
                                                    <td><h1>Urgent Opening for PHP Developer <p>Agricultural Sceences</p></h1></td>
                                                    <td><strong>2 <span class="text-success">(gerir)</span></strong></td>
                                                    <td><strong>20 <span class="text-success">(visualizar)</span></strong></td>
                                                    <td ><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></span> | <span><i class="fa fa-edit"></i></span> | <span><i class="fa fa-trash"></i></span></td>
                                                </tr>
                                                <tr>
                                                    <td><h1>Urgent Require- Web Developer <p>Agricultural Sceences</p></h1></td>
                                                    <td><strong>8 <span class="text-success">(gerir)</span></strong></td>
                                                    <td><strong>30<span class="text-success">(visualizar)</span></strong></td>
                                                    <td ><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></span> | <span><i class="fa fa-edit"></i></span> | <span><i class="fa fa-trash"></i></span></td>
                                                </tr>
                                                <tr>
                                                    <td><h1>Nodejs,Angularjs Developer <p>Agricultural Sceences</p></h1></td>
                                                    <td><strong>4 <span class="text-success">(gerir)</span></strong></td>
                                                    <td><strong>12 <span class="text-success">(visualizar)</span></strong></td>
                                                    <td ><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></span> | <span><i class="fa fa-edit"></i></span> | <span><i class="fa fa-trash"></i></span></td>

                                                </tr>
                                                <tr>
                                                    <td><h1>Software Developer -IT Co <p>Agricultural Sceences</p></h1></td>
                                                    <td><strong>9 <span class="text-success">(gerir)</span></strong></td>
                                                    <td><strong>25 <span class="text-success">(visualizar)</span></strong></td>
                                                    <td ><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></span> | <span><i class="fa fa-edit"></i></span> | <span><i class="fa fa-trash"></i></span></td>
                                                </tr>
                                                <tr>
                                                    <td><h1>Website Developer and Head of Developers <p>Agricultural Sceences</p></h1></td>
                                                    <td><strong>7 <span class="text-success">(gerir)</span></strong></td>
                                                    <td><strong>25 <span class="text-success">(visualizar)</span></strong></td>
                                                    <td ><span><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-empty"></i></span> | <span><i class="fa fa-edit"></i></span> | <span><i class="fa fa-trash"></i></span></td>
                                                </tr>-->
                                            </tbody>
                                        </table>
                                    </div></div>
                            </div>                   
                        </div>

                    </div>
                {%endblock %}
            </div>
        </main>
    {%endblock %}

{% endblock %}
