{# empty Twig template #}
{% extends 'MyAppAquitemBicoBundle::layout.html.twig' %}

{% block head %}
    <title> {% block title %} {{parent() }}{% endblock %} </title>
    {% block stylesheet %} 
        {{parent() }}
        <link rel="stylesheet" href="{{ asset('assets/plugins/wysihtml5/wysihtml5.css') }}" type="text/css">
    {% endblock %}
{% endblock %}

{% block content %}

    {% block banner %}
        <div id="vagasbanner" class="page_banner banner listing-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="banner-heading">vaga.nomeVaga</div>    
                    </div>  
                </div>
            </div>
        </div>
    {% endblock %}

    {%block maincontent %}
        <!-- content -->
        <main id="maincontent">
            <div class="row"  style="padding: 0px;margin-top:-40px;">
                {%block menu %}
                    <div class="col-md-2" style="height: 60%;">
                        <div class="Resume manage" style="margin-left:10px;height:100%">
                            <a class="dshbdMainCandidate" href="{{ path('aquitem_bico_candidateDashboard') }}"><h1>Minha conta</h1></a>
                            <ul class="unstyled">
                                <li><a  href="{{ path('aquitem_bico_candidateVacancies') }}"><i class="fa fa-caret-right"></i> Painel de vagas</a></li>
                                <li><a  href="{{ path('aquitem_bico_candidateContracting') }}"><i class="fa fa-caret-right"></i> História de contratação</a></li>
                                <li><a href="{{ path('aquitem_bico_candidateProfil') }}"><i  class="fa fa-caret-right"></i> Meu currículo</a></li>
                                <li><a  href="{{ path('aquitem_bico_candidateEvaluations') }}"><i class="fa fa-caret-right"></i>Avaliações recebidas</a></li>
                                <li><a href="{{ path('aquitem_bico_candidateEditProfil') }}"><i class="fa fa-caret-right"></i> Editar currículo</a></li>
                                <li class="border-none"><a  href="{{ path('aquitem_bico_homepage') }}"><i class="fa fa-caret-right"></i> Sair</a></li>
                            </ul>
                        </div>
                    </div>
                {%endblock %}
                {% block selectedcontent %}
                    <div class="col-md-10" style="padding:0px;">
                        <div class="row contenttop">
                            <div class="col-md-12">
                                <div class="page-heading">
                                    <h2>O seu próximo emprego está à distância de um clique</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row contentmain">
                            <div class="col-md-8">
                                <div class="panel-body" >
                                    <div class="col-md-3 p-l">
                                        <div class="block">
                                            <img src="{{ asset('assets/images/job-logo.jpg') }}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="">
                                            Agente de limpeza                                     
                                        </div> 
                                        <div class="col-md-4 p-l">
                                            <div class="packege">
                                                <i class="fa fa-briefcase"></i>3-6 Meses
                                            </div>
                                        </div>
                                        <div class="col-md-4 p-l">
                                            <div class="packege">
                                                <i class="fa fa-usd"></i>
                                                25,000 - 35,000  
                                            </div> 
                                        </div>
                                        <div class="col-md-4 p-l">
                                            <div class="packege">
                                                <i class="fa fa-clock-o"></i>
                                                13 dias atrás
                                            </div>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="page-heading"></div>
                                    <div class="page-heading">
                                        <div class="panel-heading">Descrição da vaga</div>
                                        <P>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</P>
                                        <br />
                                        <P>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</P>
                                    </div>

                                    <a href="#" class="btn btn-default">Me cadastrar</a>
                                </div>
                            </div>
                            <div class="col-md-4" style="padding-left: 0px;margin-left: -10px;">
                                <div class="panel-body" style="width: 97%;margin-bottom: 10px">
                                    <div class="job_title block1">
                                        Perfil da empresa
                                        <a href="#">Infinite Flame web MEdia Technologies Ltd.</a>
                                    </div> 
                                    <div class="clearfix"></div>
                                    <div class="contact_details">
                                        <span><i class="fa fa-map"></i> 85/58 Park Avanue, Lullaby Ln Anaheim, Calefornia 92804</span>
                                        <span><i class="fa fa-phone"></i> +1 800 234 5678</span>
                                        <span><i class="fa fa-envelope"></i><a href="#">john.anderson@example.com</a></span>
                                        <span><i class="fa fa-globe"></i><a href="#">http://www.iftechnologies.com</a></span>
                                        <span><i class="fa fa-facebook"></i><a href="#">https://www.facebook.com/aquitembico</a></span>
                                    </div>
                                </div>
                                <div class="panel-body" style="width: 97%;margin-bottom: 10px">
                                    <div class="job_title block1">
                                        Enviar uma consulta
                                    </div> 
                                    <p></p>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Nome completo" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Email" />
                                    </div>
                                    <div class="form-group">
                                        <textarea  type="text" class="form-control" placeholder="Mensagem"></textarea>
                                    </div>
                                    <a href="#" class="btn btn-default btn-block">Enviar mensagem</a>
                                </div>
                                <div class="panel-body" style="width: 97%;margin-bottom: 10px">
                                    <p> Vou adicionar chat com a empresa aqui, provavelmente</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {%endblock %}

            </div>
        </div>
    </main>
{% endblock %}

{% endblock %}
{% block js %}
    {{parent() }}
    <script src="{{ asset('assets/plugins/wysihtml5/wysihtml5-0.3.0.js') }}" ></script>
    <script src="{{ asset('assets/js/wysihtml.js') }}" ></script>
{% endblock %}