{% extends "MyAppAquitemBicoBundle::layout.html.twig" %}


{% block head %}
    <title> {% block title %} {{parent() }}{% endblock %} </title>
    {% block stylesheet %} 
        {{parent() }}
        <link rel="stylesheet" href="{{ asset('assets/plugins/carousel_album/css/carousel.css') }}">
        <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
    {% endblock %}
{% endblock %}

{% block content %}
    <!-- banner -->
    <div class="page_banner gallery_banner ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="banner-heading">Nossos eventos</div>    
                </div>  
            </div>
        </div>
    </div>

    <!-- content -->

    <div id="maincontent" >
        <div class="events" >
            <h2>Próximos eventos</h2>
            <hr>
        </div>
        <div class="carrousel-holder">
            <div style="height: 45%;margin:2%;"class="carousel fade-carousel" data-ride="carousel" data-interval="4000" id="bs-carousel">
                <!-- indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#bs-carousel" data-slide-to="1"></li>
                    <li data-target="#bs-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item slides active">
                        <div class="slide-1"></div>
                    </div>
                    <div class="item slides">
                        <div class="slide-2"></div>
                    </div>
                    <div class="item slides">
                        <div class="slide-3"></div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="events" >
            <h2>Eventos anteriores</h2>
            <hr>
        </div>
        <div  class="albumscontainer">
              <div class="carousel-container" >
                <div id="carousel-1" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div data-slide-no="0" class="item carousel-item active">
                            <a href="#"><img src="http://lorempixel.com/1920/1080/animals" alt=""></a>
                        </div>
                        <div data-slide-no="1" class="item carousel-item">
                            <a href="#"><img src="http://lorempixel.com/1920/1080/food" alt=""></a>
                        </div>
                        <div data-slide-no="2" class="item carousel-item">
                            <a href="#"><img src="http://lorempixel.com/1920/1080/cats" alt=""></a>
                        </div>
                        <div class="carousel-caption">
                            <h4>Album 2</h4>
                            <p></p>
                        </div>
                    </div>         
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="myCarousel-target active"></li>
                        <li data-target="#carousel" data-slide-to="1" class="myCarousel-target"></li>
                        <li data-target="#carousel" data-slide-to="2" class="myCarousel-target"></li>
                    </ol>
                </div>
            </div>
             <div class="carousel-container" >
                <div id="carousel-1" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div data-slide-no="0" class="item carousel-item active">
                            <a href="#"><img src="http://lorempixel.com/1920/1080/animals" alt=""></a>
                        </div>
                        <div data-slide-no="1" class="item carousel-item">
                            <a href="#"><img src="http://lorempixel.com/1920/1080/food" alt=""></a>
                        </div>
                        <div data-slide-no="2" class="item carousel-item">
                            <a href="#"><img src="http://lorempixel.com/1920/1080/cats" alt=""></a>
                        </div>
                        <div class="carousel-caption">
                            <h4>Album 3</h4>
                            <p></p>
                        </div>
                    </div>         
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="myCarousel-target active"></li>
                        <li data-target="#carousel" data-slide-to="1" class="myCarousel-target"></li>
                        <li data-target="#carousel" data-slide-to="2" class="myCarousel-target"></li>
                    </ol>
                </div>
            </div>
            <div class="carousel-container" >
                <div id="carousel-1" class="carousel slide carousel-fade">
                    <div class="carousel-inner">
                        <div data-slide-no="0" class="item carousel-item active">
                            <a href="#"><img src="http://lorempixel.com/1920/1080/animals" alt=""></a>
                        </div>
                        <div data-slide-no="1" class="item carousel-item">
                            <a href="#"><img src="http://lorempixel.com/1920/1080/food" alt=""></a>
                        </div>
                        <div data-slide-no="2" class="item carousel-item">
                            <a href="#"><img src="http://lorempixel.com/1920/1080/cats" alt=""></a>
                        </div>
                        <div class="carousel-caption">
                            <h4>Album 1</h4>
                            <p></p>
                        </div>
                    </div>         
                    <ol class="carousel-indicators">
                        <li data-target="#carousel" data-slide-to="0" class="myCarousel-target active"></li>
                        <li data-target="#carousel" data-slide-to="1" class="myCarousel-target"></li>
                        <li data-target="#carousel" data-slide-to="2" class="myCarousel-target"></li>
                    </ol>
                </div>
            </div>
        </div>
      
    </div>



{% endblock %} 


{% block js %}
    {{parent() }}
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>-->
    <script src="{{ asset('assets/plugins/carousel_album/js/carousel.js') }}"></script>
{% endblock %}
