{% block head %}
    <head>
        <meta head charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {% block title %} Aqui Tem Bico  {% endblock title %} </title>
        {% block stylesheet %}
            <!-- Bootstrap -->
            <link href="{{ asset('assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
            <!-- Flexslider Css -->
            <link href="{{ asset('assets/plugins/flexslider/flexslider.css') }}" rel="stylesheet">
            <!--font awesome-->
            <link href="{{ asset('assets/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
            <!--custom css-->
            <link href="{{ asset('assets/plugins/themify/themify-icons.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
        {% endblock %}
    </head>
{% endblock %}

{% block body %}
    <body>
        <!--header-->
        {% block header %}
            <!-- header -->
            <div class="header-stricky">
                <div class="container" >    
                    <div class="row">
                        <div class="col-md-3">
                            <div class="site-logo" >
                                <a href="{{path('aquitem_bico_homepage')}}"><img src="{{ asset('assets/images/home/site-logo.png') }}" alt="" class="img-responsive" /></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <nav class="navbar navbar-default navbar-static-top">

                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav scrollto"> 
                                        <li><a href="{{path('aquitem_bico_homepage')}}">Home</a></li>
                                        <li><a href="{{path('aquitem_bico_about')}}">Quem Somos</a></li>
                                        <li><a href="{{path('aquitem_bico_gallery')}}">Eventos</a></li>
                                        <li><a href="{{path('aquitem_bico_contact')}}">Contato</a></li>
                                    </ul>
                                </div>
                            </nav>  
                        </div>
                        <div class="col-md-3 text-right">
                            <a href="{{path('aquitem_bico_loginoucadastro')}}" class="login active">Login</a>
                            <a href="{{path('aquitem_bico_loginoucadastro')}}" class="signup">Cadastre-se</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        <!--content-->
        {% block content %}

        {% endblock %}

        <!--footer-->
        {% block footer %}
            <footer id="footer">
                <div class="container">
                    <div class="row">
                        <div class="footer-block">
                            <h4>Informações</h4>
                            <hr>
                            <ul class="footer-link">
                                <li><a href="{{path('aquitem_bico_termsandconditions')}}">Quem Somos</a></li>
                                <li><a href="{{path('aquitem_bico_privacypolicy')}}">Política de Privacidade</a></li>

                            </ul>
                        </div>
                        <div class="footer-block">
                            <h4>Para as empresas</h4>
                            <hr>
                            <ul class="footer-link">
                                <li><a href="{{path('aquitem_bico_about')}}">Termo de Uso</a></li>
                                <li><a href="{{path('aquitem_bico_sitemap')}}">Anuncie</a></li>
                            </ul>
                        </div>
                        <div class="footer-block">
                            <h4>Para os candidatos</h4>
                            <hr>
                            <ul class="footer-link">
                                <li><a href="{{path('aquitem_bico_help')}}">Termo de Uso</a></li>
                                <li><a href="{{path('aquitem_bico_faqs')}}">Dúvidas Frequentes</a></li>
                            </ul>
                        </div>
                        <div class="footer-block">
                            <h4 >Outros</h4>
                            <hr>
                            <ul class="footer-link">
                                <li><a href="#">Nosso Parceiros</a></li>
                                <li><a href="#">Eventos</a></li>
                            </ul>
                        </div>
                        <div class="footer-block footer-block2">
                            <div style="padding: 0px;width: 40%;">
                                <h4 style="color: white">Siga-nos</h4>
                                <hr>
                                <ul class="follow">
                                    <li><a href="https://www.facebook.com/aquitembico" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.instagram.com/aquitembico/" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom" >
                    <div class="row">
                        <span style="vertical-align: middle;font-size: 14px;">&#169;2017 AQUITEMBICO.COM - Todos os direitos reservados.</span>                        
                    </div>
                </div>
            </footer>
        {% endblock %}

        <!--js-->
        {% block js %}
            <!-- jQuery -->
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>  
            <script src="{{ asset('assets/plugins/flexslider/jquery.flexslider-min.js') }}"></script>

            <script src="{{ asset('assets/js/jquery.counterup.min.js') }}"></script>
            <script src="{{ asset('assets/js/waypoints.min.js') }}"></script>
            <script src="{{ asset('assets/js/counter.js') }}"></script>
            <script src="{{ asset('assets/js/flexslider.js') }}"></script>
            <script src="{{ asset('assets/js/common.js') }}"></script>
            <script src="{{ asset('assets/js/file.js') }}"></script>
        {% endblock %}
    </body>
{% endblock %}
